<!--  
  Template needs to be in the select container!
  https://github.com/angular/angular/issues/14842 
-->


<ng-template #tmplNode let-node="node">
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="getOrigin('node-'+node.id)"
        [cdkConnectedOverlayOpen]="node.isHighlighted">
        <div class="example-list">
            {{node.text}}
        </div>
    </ng-template>

    <div click-stop-propagation class="node-container" [attr.data-id]="node.id" [attr.id]="'node-'+node.id"
        (click)="selectNode(node)" (dblclick)="highlightNode(node)" cdkOverlayOrigin
        [ngClass]="{'expanded' : node.isExpanded, 'node-blox': node.allowChildren, 'node-item':!node.allowChildren, 'selected':node.isSelected, 'highlighted':node.isHighlighted}">

        <div class="node">
            <div class="node-title">
                <span (click)="toggleNode(node)">{{node.children.length ?
                    (node.isExpanded?'-&nbsp;':'+'):''}}</span>
                {{node.text}}
                <span class="item-notes"> ({{node.children.length}}{{node.children.length?', expanded: ' +
                    !!node.isExpanded:''}})</span>

            </div>
            <div *ngIf="node.isExpanded && node.children.length" class="node-children" cdkDropList
                cdkDropListOrientation="horizontal" [cdkDropListData]="node.children" [id]="node.id"
                [cdkDropListConnectedTo]="dropTargetIds" class="droplist-container" (cdkDropListDropped)="drop($event)"
                [cdkDropListSortingDisabled]="true">

                <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.id"
                    (cdkDragMoved)="dragMoved($event)" (cdkDragStarted)="startDragging($event)" class="box">
                    <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}"></ng-container>
                    <div *cdkDragPlaceholder></div>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<div cdkDropList [cdkDropListData]="rootNode.children" [id]="rootNode.id" #dropList
    [cdkDropListConnectedTo]="dropTargetIds" cdkDropListOrientation="horizontal" class="droplist-container"
    (cdkDropListDropped)="drop($event)" [cdkDropListSortingDisabled]="true">

    <div *ngFor="let node of rootNode.children" cdkDrag [cdkDragData]="node.id" (cdkDragMoved)="dragMoved($event)"
        (cdkDragStarted)="startDragging($event)" class="box">
        <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}"></ng-container>
        <div *cdkDragPlaceholder></div>
    </div>
</div>