.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

    background: #fff;
    opacity: 0.3;
}

.node-container {
    position: relative;
    &.selected {
        > .node {
            border: 2px red solid;
        }
    }
    &.highlighted {
        > .node {
            border: 2px gray solid;
        }
    }
    &.expanded {
        > .node {
            border: 1px dashed green;
        }
        &.selected {
            > .node {
                border: 2px red dashed;
            }
        }
    }
}

.node-item {
    > .node {
        height: 60px;
        min-width: 80px;
        margin-right: 15px;
        margin-left: 15px;
        padding-right: 30px;
        background: #eee;
        * .remove-icon {
            color: red;
            position: absolute;
            right: 20px;
            top: 6px;
        }
        > .node-title {
            padding: 15px;
            margin: 5px;
            cursor: pointer;
        }
    }
}

.node-blox {
    &.expanded {
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        > .node {
            min-width: 80px;
            min-height: 90px;
            * .remove-icon {
                color: red;
                position: absolute;
                right: 20px;
                top: 6px;
            }
            > .node-title {
                background: #eee;
                padding-bottom: 5px;
                cursor: pointer;
            }
        }
    }
    &.collapsed {
        > .node {
            height: 60px;
            min-width: 80px;
            margin-right: 15px;
            margin-left: 15px;
            padding-right: 30px;
            background: yellow;
            * .remove-icon {
                color: red;
                position: absolute;
                right: 20px;
                top: 6px;
            }
        }
    }
}

.node-children {
    position: relative;
    transition: height 0.2s;
    margin-left: 40px;
}
.item-notes {
    margin-left: 20px;
    color: #aaa;
}

.droplist-container {
    min-width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    vertical-align: bottom;
}

.box {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    position: relative;
    z-index: 1;
}

.drop-inside {
    > .node {
        border: 2px solid #00f !important;
    }
}

.drop-before {
    border-left: 2px solid #00f !important;
}

.drop-after {
    border-right: 2px solid #00f !important;
}

.example-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
}
