* {
    font-family: Lato;
    user-select: none;
}

.select-container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-grow: unset;
    min-width: 100%;
}

.example-handle {
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}

.operator-list {
    width: 80px;
    display: flex;
}
